<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>INAlternativeAppNames</key>
	<array>
		<dict>
			<key>INAlternativeAppName</key>
			<string>go</string>
		</dict>
		<dict>
			<key>INAlternativeAppName</key>
			<string>pprof</string>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>gz</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.gnu.gnu-zip-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>prof</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>the.future.app.pprof.pprof.filetype.prof</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>proff</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>the.future.app.pprof.pprof.filetype.proff</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>pb</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>the.future.app.pprof.pprof.filetype.pb</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>pprof</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>the.future.app.pprof.pprof.filetype.pprof</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>google pprof file format - prof</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>DocIcon</string>
				<key>UTTypeIconText</key>
				<string>pprof</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>the.future.app.pprof.pprof.filetype.prof</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>prof</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>google pprof file format - proff</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>DocIcon</string>
				<key>UTTypeIconText</key>
				<string>pprof</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>the.future.app.pprof.pprof.filetype.proff</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>proff</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>google pprof file format - pb</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>DocIcon</string>
				<key>UTTypeIconText</key>
				<string>pprof</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>the.future.app.pprof.pprof.filetype.pb</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pb</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>google pprof file format - pprof</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>DocIcon</string>
				<key>UTTypeIconText</key>
				<string>pprof</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>the.future.app.pprof.pprof.filetype.pprof</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pprof</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
